<div id="userBox">
    <h4>Para continuar, por favor ingrese su nombre de usuario:</h4>
    <div>
        <input name="user" id="user" placeholder="Ingrese su nombre de usuario" type="text">
        <button type="button" id="btnUserConfirm">Confirmar</button>
    </div>
</div>
<div id="chatInterface" style="display: none;">
    <h3 id="userGreeting"></h3>
    <div id="messageContainer"></div>
    <div>
        <input name="message" id="message" placeholder="Escribe tu mensaje" type="text">
        <button type="button" id="btnSend">Enviar</button>
    </div>
    <button type="button" id="btnExit">Salir</button>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
