<div class="container mt-5">
    <h1>Bienvenido</h1>
    <p>¡Gracias por visitar nuestra tienda en línea! Aquí podrás encontrar una amplia selección de productos.</p>
    <a href="/register" class="btn btn-primary">Registrarse</a>
    <a href="/login" class="btn btn-primary">Iniciar sesión</a>
    <a href="/products" class="btn btn-primary">productos</a>
</div>
