<div class="container">
    <h1>RealTimeProducts</h1>
    <section>
        <h2>Añadir productos</h2>
        <form>
            <div class="form-group">
                <label for="title">Nombre del producto</label>
                <input type="text" id="title" class="form-control" placeholder="Ej: Harina, jugo, huevos." required>
            </div>
            <div class="form-group">
                <label for="description">Descripción del producto</label>
                <input type="text" id="description" class="form-control" placeholder="Ej: 0000, naranja, colorados." required>
            </div>
            <div class="form-group">
                <label for="category">Categoría del producto</label>
                <input type="text" id="category" class="form-control" placeholder="Ej: Almacen, destilados, limpieza." required>
            </div>
            <div class="form-group">
                <label for="code">Código del producto</label>
                <input type="text" id="code" class="form-control" placeholder="Alfanumérico de 6 dígitos" required>
            </div>
            <div class="form-group">
                <label for="price">Precio del producto</label>
                <input type="text" id="price" class="form-control" placeholder="Precio en AR$" required>
            </div>
            <div class="form-group">
                <label for="stock">Stock del producto</label>
                <input type="text" id="stock" class="form-control" placeholder="Stock a ingresar" required>
            </div>
            <button type="button" onclick="sendDataCreate()" class="btn btn-primary">Añadir producto</button>
        </form>
    </section>
    <section>
        <h2>Eliminar productos</h2>
        <div class="form-group">
            <label for="delete-id">Ingrese el ID del producto a eliminar</label>
            <input type="text" id="delete-id" class="form-control" required>
        </div>
        <button type="button" onclick="sendDataDelete()" class="btn btn-danger">Eliminar producto</button>
    </section>
    <section>
        {{#each products}}
        <h3>Productos</h3>
        <p>
            {{this.title}}
        </p>
        {{/each}}
    </section>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>
